@model MVCTestApp.Models.ReportModel

@{
    ViewBag.Title = "FetchReport";
}

<h2>Fetch Report</h2>

@using (Html.BeginForm("FetchReport", "Report", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table border="0" width="100%">
        <tr>
            <td align="right">
                @Html.LabelFor(x => x.ReportType, "Report Type") &nbsp;
            </td>
            <td>
                @Html.DropDownListFor(x => x.ReportType, Model.AllReportTypes, new { @class = "form-control" })
            </td>
            <td align="right">@Html.LabelFor(x => x.Country, "Country") &nbsp; </td>
            <td>
                @Html.DropDownListFor(x => x.Country, Model.CountriesList, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td align="right" style="padding:20px">
                @Html.LabelFor(x => x.StartDate, "Start Date") &nbsp;
            </td>
            <td>
                @Html.EditorFor(x => x.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td align="right">
                @Html.LabelFor(x => x.EndDate, "End Date") &nbsp;
            </td>
            <td>
                @Html.EditorFor(x => x.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
        <tr>
            <td align="right">
                @Html.LabelFor(x => x.DownloadType, "Download Type") &nbsp;
            </td>
            <td colspan="3">
                @Html.RadioButtonFor(x => x.DownloadType, 1,  new { @checked = true } )  @Html.LabelFor(x => x.DownloadType, "Excel Workbook") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.RadioButtonFor(x => x.DownloadType, 2)  @Html.LabelFor(x => x.DownloadType, "Open XML Document")
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="3" align="left">
                <input type="submit" value="SHOW REPORT" id="btnShowReport" class="btn btn-primary" />
            </td>
        </tr>
    </table>

   

}